@page "/ManageBooks"
@using BookStore.Data.Repositories.Admin;
@using BookStore.Data;
@using BookStore.Entities;
@using Microsoft.EntityFrameworkCore;
@inject IDbContextFactory<DataContext> ContextFactory

@inject NavigationManager navigationManager


<AuthorizeView Roles="Admin">
    <Authorized>
        <div class="container  d-flex flex-column w-100 text-center">
            <div class="fs-3"> Manage Books </div>

            <div style="max-width:500px;" class="d-flex flex-column gap-2 my-3 align-self-center">
                <NavLink class="btn btn-success" href="AddBook">Add a new book</NavLink>
            </div>
        </div>
       






        
        <div class="w-100">
            <SearchBox Items="_books" OnSearch="UpdateFilteredBooks"></SearchBox>
        </div>


        <div class="p-3">
            <table class="my-4 table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Cover</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Publisher</th>
                        <th>Price</th>
                        <th>Stock quantity</th>
                        <th>Genres</th>
                        <th>Publication year</th>
                        <th>ISBN</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @*Loop through each book in the book list*@
                    @foreach (var book in _filteredBooks)
                    {
                        <tr>

                            <td><img height="200" src="@book.BookCoverUrl" /> </td>
                            <td>@book.Title</td>
                            <td>@book.Author.Name</td>
                            <td>@book.PublisherName</td>
                            <td>@book.Price.ToString("C2")</td>
                            <td>@book.StockQuantity</td>
                            <td>
                                @foreach (var genre in book.BookGenres)
                                {
                                    <span>@genre.Genre.Name; </span>
                                }
                            </td>
                            <td>@book.PublicationYear</td>
                            <td>@book.ISBN</td>
                            <td >
                                <div class="text-center  d-flex flex-column  justify-content-center h-100">
                                    <button style="min-width:90px" @onclick="() => GoToUpdateBookPage(book.ID)" class="btn btn-primary my-1 ">Update</button>
                                    <button style="min-width:90px" @onclick="async() => await DeleteBook(book.ID)" class="btn btn-danger my-1  ">Delete</button>
                                </div>
                              
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
       
    </Authorized>

    <NotAuthorized>
        <div>Not authorized</div>
    </NotAuthorized>
</AuthorizeView>


@code {
    List<Book> _books = new();
    List<Book> _filteredBooks = new();
    protected override async Task OnInitializedAsync()
    {
        // Get the book list

        using (var repo = new BookRepository(ContextFactory.CreateDbContext()))
        {
            _books = await repo.GetAllBooksAsync();
            _filteredBooks = _books.ToList();
        }
    }

    async Task DeleteBook(int id)
    {
        if (_books.Any(x=>x.ID == id))
        {
            using (var repo = new BookRepository(ContextFactory.CreateDbContext()))
            {
                _books.Remove(_books.FirstOrDefault(b => b.ID == id));

                await repo.DeleteBookAsync(id);
                await InvokeAsync(StateHasChanged);
            }
        }
        if (_filteredBooks.Any(x=>x.ID == id))
        {
            _filteredBooks.Remove(_filteredBooks.FirstOrDefault(b => b.ID == id));
            await InvokeAsync(StateHasChanged);
        }

    }
    void GoToUpdateBookPage(int id)
    {
        navigationManager.NavigateTo($"/UpdateBook/{id}");
    }

    void UpdateFilteredBooks(string searchTerm)
    {
        if (string.IsNullOrEmpty(searchTerm))
        {
            _filteredBooks = _books.ToList();
        }
        else
        {
            _filteredBooks = _books.Where(
                
                book => book.Title.Contains(searchTerm, StringComparison.OrdinalIgnoreCase) ||
                book.Author.Name.Contains(searchTerm, StringComparison.OrdinalIgnoreCase)
            )
            
            .ToList();
        }
    }




}
