@page "/AddAuthor"
@using BookStore.Data;
@using BookStore.Data.Repositories.Admin;
@using BookStore.Entities;
@using Microsoft.EntityFrameworkCore;

@inject IDbContextFactory<DataContext> ContextFactory;

<AuthorizeView Roles="Admin">
    <Authorized Context="authContext">

        <div class="form-control d-flex flex-column m-auto  p-5 m-3" style="max-width:900px">
            <h4>Add a new author</h4>
            <EditForm Model="_createdAuthor" OnValidSubmit="SaveAuthorAsync">
                <DataAnnotationsValidator />
                <ValidationSummary />

                @*Author Name*@
                <label for="name" class="form-label"> name</label>
                <InputText id="name"  class="form-input form-control" @bind-Value="_createdAuthor.Name" />
                <ValidationMessage For="@(() => _createdAuthor.Name)" />


                @*Biography*@
                <label for="biography" class="form-label"> biography</label>
                <InputText id="biography" class="form-input form-control" @bind-Value="_createdAuthor.Biography" />
                <ValidationMessage For="@(() => _createdAuthor.Biography)" />

                @*BirthDate*@
                <label for="birth-date" class="form-label"> birth date</label>
                <InputNumber id="birth-date" class="form-input form-control" @bind-Value="_createdAuthor.BirthDate" />
                <ValidationMessage For="@(() => _createdAuthor.BirthDate)" />

                @*Death date*@
                <label for="death-date" class="form-label"> death date</label>
                <InputNumber id="death-date" class="form-input form-control" @bind-Value="_createdAuthor.DeathDate" />

                @*Nationality*@
                <label for="death-date" class="form-label"> nationality</label>
                <InputText id="death-date"  class="form-input form-control" @bind-Value="_createdAuthor.Nationality" />
                <ValidationMessage For="@(() => _createdAuthor.Nationality)" />


                <div class="w-100 text-center p-5">
                    <button class="btn btn-success btn-lg" type="submit">Save author</button>
                </div>

                <div class=" w-100 text-center p-5">
                    <div class="alert-success"> @validationMessage</div>
                </div>
            </EditForm>


  
        </div>

    </Authorized>

    <NotAuthorized>

    </NotAuthorized>
</AuthorizeView>

@code {

    Author _createdAuthor = new();

    string validationMessage = "";
    async Task ResetValidationMessage()
    {
        await Task.Delay(3000);
        validationMessage = "";
        await InvokeAsync(StateHasChanged);
    }

    async Task SaveAuthorAsync()
    {
        using (var repo = new AuthorRepository(ContextFactory.CreateDbContext()))
        {
            await repo.CreateAuthorAsync(_createdAuthor);
        }

        _createdAuthor = new Author();

        validationMessage = "Author added succesfully";
        await InvokeAsync(StateHasChanged);
       
        await ResetValidationMessage();
        
    }

}
