@page "/UpdateAuthor/{id:int}"
@using BookStore.Data;
@using BookStore.Data.Repositories.Admin;
@using BookStore.Entities;
@using Microsoft.EntityFrameworkCore;

@inject IDbContextFactory<DataContext> ContextFactory;

<AuthorizeView Roles="Admin">
    <Authorized Context="authContext">
        <div class="form-control d-flex flex-column m-auto  p-5 m-3" style="max-width:900px">
            <h4>Update author</h4>
             <EditForm Model="_updateAuthor" OnValidSubmit="UpdateAuthorAsync">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                @*Author Name*@
                <label for="name" class="form-label"> name</label>
                <InputText id="name"  class="form-input form-control" @bind-Value="_updateAuthor.Name" />
                <ValidationMessage For="@(() => _updateAuthor.Name)" />


                @*Biography*@
                <label for="biography" class="form-label"> biography</label>
                <InputText id="biography" class="form-input form-control" @bind-Value="_updateAuthor.Biography" />
                <ValidationMessage For="@(() => _updateAuthor.Biography)" />

                @*BirthDate*@
                <label for="birth-date" class="form-label"> birth date</label>
                <InputNumber id="birth-date" class="form-input form-control" @bind-Value="_updateAuthor.BirthDate" />
                <ValidationMessage For="@(() => _updateAuthor.BirthDate)" />

                @*Death date*@
                <label for="death-date" class="form-label"> death date</label>
                <InputNumber id="death-date" class="form-input form-control" @bind-Value="_updateAuthor.DeathDate" />

                @*Nationality*@
                <label for="death-date" class="form-label"> nationality</label>
                <InputText id="death-date"  class="form-input form-control" @bind-Value="_updateAuthor.Nationality" />
                <ValidationMessage For="@(() => _updateAuthor.Nationality)" />


                <div class="w-100 text-center p-5">
                    <button class="btn btn-success btn-lg" type="submit">Save author</button>
                </div>

                <div class=" w-100 text-center p-5">
                    <div class="alert-success"> @validationMessage</div>
                </div>
            </EditForm>
        </div>

    </Authorized>

    <NotAuthorized>
    </NotAuthorized>
</AuthorizeView>

@code {

    [Parameter]
    public int id { get; set; }

    Author _updateAuthor = new();

    protected override async Task OnInitializedAsync()
    {
        using (var repo = new AuthorRepository(ContextFactory.CreateDbContext()))
        {
            _updateAuthor =  await repo.GetAuthorByIdAsync(id);
        }
    }

    string validationMessage = "";
    async Task ResetValidationMessage()
    {
        await Task.Delay(3000);
        validationMessage = "";
        await InvokeAsync(StateHasChanged);
    }

    async Task UpdateAuthorAsync()
    {
        using (var repo = new AuthorRepository(ContextFactory.CreateDbContext()))
        {
            await repo.UpdateAuthorAsync(_updateAuthor);
        }

        validationMessage = "Author updated succesfully";
        await InvokeAsync(StateHasChanged);
       
        await ResetValidationMessage();
        
    }

}
